.listado{


&__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    list-style: none;

    @media screen and (max-width: 420px) {
        flex-direction: column;
      }
      
}

&__img{
    width: 150px;
    height: 150px;

  background-size: cover;
  background-position: center;
    
}
}